* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #18181b;
}
.h1,
h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
}

.h2,
h2 {
    font-size: 1.875rem;
    font-weight: 600;
}

.h3,
h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.h4,
h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    color: #71717a;
}

img {
    width: 100%;
    vertical-align: top;
}

a {
    color: #18191A;
    text-decoration: none;
}

a:hover {
    color: #a7a7a7;
}

li {
    list-style: none;
}

footer {
    background-color: #18191A;
    color: #fff;
}

svg {
    fill:#fff;
} 

.flex {
    display: flex;
}

#logo {
    width: 1rem;
}

#hero {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: auto;
    align-items: center;
}

.home {
    display: block;
}

.mobile-menu {
    display: none;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: #18181b;
    margin: 4px;
}

.project-container {
    margin-top: 1rem;
    margin-bottom: 4rem;
    box-shadow: 0px 4px 20px 4px #f1f1f1;

}

.project-container img {
    height: 100%;
    object-fit: cover;
}

.project-info {
    display: block;
}

.project-info a .icon {
    transition: 0.2s;
}

.project-info a:hover .icon {
    opacity: 0.4;
}


.mb-xs {
    margin-bottom: 0.5rem;
}

.mb-sm {
    margin-bottom: 1rem;
}

.mb-md {
    margin-bottom: 1.5rem;
}

.mb-lg {
    margin-bottom: 2rem;
}

.ml {
    margin-left: 1rem;
}

.mt {
    margin-top: 2rem;
}

.skills > div ~ div {
    margin-left: 1rem;
}

.skills > div {
    color: #71717a;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

#contact .link {
    text-decoration: underline;
    color: #fff;
}

.contact-p {
    color: #fff;
}

.navlinks {
    display: flex;
    font-weight: 500;
}

.navlinks li ~ li {
    margin-left: 1rem;
}

.top-bar {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: inline-block;
    color: #18181b;
    font-weight: 400;
    transition: 0.2s; 
    font-weight: 600;
    font-size: 14px;
}

.button:hover {
    color: #a7a7a7;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 75rem;
}

.wide-img img {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    width: 100vw;
}

.container-green {
    background-color:#f2faf6;
    padding: 1.5rem;
}

.footer-content {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.footer-content p,
.footer-content h2 {
    margin-bottom: 1rem;
}
.social-link {
    height: 48px;
    width: 48px;
}
.social-links li ~ li {
    margin-left: 0.5rem;
}

.padme {
    padding: 1.25rem;
}

.set {
    color:#646466;
    margin-bottom: 0.5rem;
}

.st {
    margin-top: 3rem;
}

.text-black {
    color: #18181b;
}

.prof-img {
    margin-top: 2rem;

}

.about-text {
    font-size: 1.875rem;
    font-weight: 600;
}
.box {
    padding:1rem;
    margin-top: -4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgb(82, 82, 82);
    position: relative;
    z-index: 2;
}

.icon {
    width: 1.5rem;
}

.items-center {
    align-items: center;
}

.new-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:#193A2F;
}

.page-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.overview {
    padding: 2rem;
    box-shadow: 0px 4px 20px 4px #a7a7a7;
}

.context-title {
    font-size: 1.5rem;
    font-weight: 600;

}

.stories {
    background-color: #f2faf6;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section {
    padding: 3rem;
    color:#193A2F;
}

.sectiontitle {
    font-size: 1.5rem;
    font-weight: 700;
}


.shadow {
    padding: 1rem;
    box-shadow: 0px 4px 20px 4px #f1f1f1;
}
.space-x {
    padding-left: 1rem;
}

@media only screen and (min-width: 640px) {
    .h1,
    h1 {
        font-size: 3rem;
    }
    .h2,
    h2 {
        font-size: 2.25rem;
        font-weight: 700;
    }
    .h3,
    h3 {
        font-size: 2.125rem;
        font-weight: 700;
    }
    .mw {
        max-width: 62%;
    }
    .md-mw-0 {
        max-width: none;
    }
    #hero {
        padding-top: 10rem;
        padding-bottom: 10rem;
        margin: auto;
        align-items: center;
    }
    .md-mb-xl {
        margin-bottom: 3.5rem;
    }
    .md-flex {
        display: flex;
    }
    .md-center {
        align-items: center;
    }
    .md-w-40 {
        width: 40%;
    }
    .md-w-60 {
        width: 60%;
    }
    .md-w-50 {
        width: 50%;
    }
    .md-ml {
        margin-left: 2rem;
    }
    .md-padme {
        padding: 2.25rem;
    }
    .new-section {
        padding: 4rem;
        color:#193A2F;
    }
    .container-green {
        background-color:#f2faf6;
        padding: 3.5rem;
    }
    .project-container:hover {
        box-shadow: 0px 8px 20px 4px #cdcdcd;
        transform: translate(0, -5px);
        transition: all 0.4s ease;
    }
    .prof-img {
        margin-top: 0;
    }
    .prof-img img {
        height: 100%;
        object-fit: cover;
    }
    .about {
    }
    .about-content {
        padding-left: 4rem;
        padding-right: 4rem;
    }
   
    .md-order-1 {
        order: 1;
    }
    .md-order-2 {
        order: 2;
    }
    .md-mb-0 {
        margin-bottom: 0;
    }
    .case-study .context {
        width: 10rem;
    }
/* Layout styling */

.container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.wide-img img {
    margin-left: -3.5rem;
    margin-right: -3.5rem;
    width: 100vw;
}

}

@media only screen and (min-width: 1024px) {
    .wide-img img {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

}